// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$default-color: purple;

div {
  p {
    background-color: #234567;
  }
}

p {
  color: $default-color;
}
